<?xml version="1.0" encoding="UTF-8"?>
<suite parallel="classes" thread-count="3" name="Suite">
  <test name="Test">
    <classes>
     <class name="selenium.TestNG_Demo"/>
      <class name="selenium.TestNG_Demo1"/>
      <class name="selenium.TestNG_Registration"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->